:root{
  --off-white: #EEEEEE;
  --plain-white: #ffffff;
  --plain-black: #000000;
}

.off-white-section {
    background-color: var(--off-white);
}

.black-background {
    background-color: var(--plain-black);
}

.color-white {
    color: var(--plain-white);
}

.j-1 {
    background-color: var(--off-white) !important ;
}

.jumbotron {
   background-color: var(--plain-white);
   margin-bottom: 0rem !important;
}

.member-container {
    height: 30vh;
    width: 28% !important;
    margin-bottom: 10%;
}

.member {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.member img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.member-1 {
    border: 8px #D55834 solid !important;
}

.member-2 {
    border: 8px #ABC049 solid !important;
    
}

.member-3 {
    border: 8px #4AC2A6 solid !important;
}

.member-4 {
    border: 8px #0299C2 solid !important;
}

.member-5 {
    border: 8px #AD616C solid !important;
}

.container-centered {
    text-align: center;
}

.designation-style {
    font-weight: bold;
    margin-top: 5%;
}

.font-color-1 {
    color: #D55834;
}

.font-color-2 {
    color: #ABC049;
}

.font-color-3 {
    color: #4AC2A6;
}

.font-color-4 {
    color: #0299C2;
}

.font-color-5 {
    color: #AD616C;
}

.carousel-item img {
    height: 80vh;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: -40%;
    font-size: 2.4rem;
    font-family: sans-serif;
}

button.font-sz-smaller {
    font-size: 1.2rem;
}

.left-section {
    width: 50%;
}

.right-section {
    width: 30%;
}

.footer-subcontainer {
    margin-bottom: 1rem;
}

.logo-container {  
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(./Assets/WhatsApp\ Image\ 2021-08-12\ at\ 09.43.43\ newnew.jpeg);
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center;
}

.logo-container-sm {
    height: 70px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    /* background-image: url(./Assets/Capture.PNG);
    background-size: cover; */
}

.logo-image-container {
    height: 70px;
    width: 70px;
    background-image: url(./Assets/Capture.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-container-sm a {
    display: inline-block;
    width: 100%; 
}

.card a img {
    height: 200px;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

/* Responsive Design */

@media screen and (max-width: 1000px) {
    .member-container {
        width: 35% !important;
        margin-bottom: 14%;
    }
}

@media screen and (max-width: 850px) {
    .member-container {
        text-align: center;
        width: 60% !important;
        margin-bottom: 6rem;
    }

    .card {
        margin-bottom: 1rem;
    }



}

@media screen and (max-width: 600px) {
    .footer-subcontainer {
        width: 90% !important;
    }

    .left-section {
        width: 100%;
        text-align: center;
        margin-bottom: 3.6rem;
    }

    .right-section {
        width: 100%;
        text-align: center;
        margin-bottom: 1.8rem;
        flex-direction: row !important;
    }

    .logo-container {
        height: 150px;
        width: 150px;
    }

    .right-section > div {
        margin: auto;
    }
}

@media screen and (max-width: 550px) {
    .member-container {
        width: 80% !important;
        margin-bottom: 6rem;
    }
    .carousel-item {
        height: 500px;
        object-fit: cover;
        object-position: bottom;
        min-width: 400px;
    }

    .carousel-item > img {
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        min-width: 400px;
    }

    .carousel-item > .carousel-caption {
        text-align: center;
        font-size: 1.5rem;
        left: 0%;
    }

}